<a href="https://colab.research.google.com/github/rameshmech/ML_hands_on_sessions/blob/master/Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# modules we'll use
import pandas as pd
import numpy as np

# read in all our data
train_bsl = pd.read_csv("train_baseline.csv")

# set seed for reproducibility
np.random.seed(0)

In [4]:
# look at a few rows of the data file. I can see a handful of missing data already!
train_bsl.sample(5)

,PatientID,Study,Race,Age,Country,Indication,Sex,Ethnicity,Treatment,BaselineECOG,...,DiseaseStage,EGFR,Histology,KRAS,PriorChemo,SmokeHx,Status,TreatmentStartDate,ObservationStartDate,Respond
1540,RAADCT01922,11ff0321a67fef522bef3f970c492399337d4e97,ASIAN,62,Other,Advanced or metastatic NSCLC,M,NOT HISPANIC OR LATINO,Chemo,0.0,...,IVB,NaN,SQUAMOUS,NaN,Y,Previous,METASTATIC,2014-09-17T14:10:00Z,2014-09-16,0
2752,RAADCT04468,9d6b9b28c35b1d16fb573ce42b56f40aff45355b,WHITE,70,GBR,Advanced or Metastatic Urothelial Bladder Cancer,M,NOT HISPANIC OR LATINO,Chemo,0.0,...,T2B,NaN,Transitional cell carcinoma,NaN,NaN,Previous,METASTATIC,2015-03-31T14:00:00Z,2015-03-31,1
348,RAADCT08698,f881e62928966b381b83f630d1e6b4ef5003b40c,WHITE,63,USA,Advanced or metastatic NSCLC,M,NOT HISPANIC OR LATINO,Chemo,1.0,...,IIIB,NOT DONE,NON-SQUAMOUS,NOT DONE,Y,Previous,METASTATIC,2014-01-08T14:15:00Z,2014-01-06,0
4265,RAADCT06572,7223af731e7e7cf48c29b5c137b0bb34ea04b0d2,WHITE,73,USA,Stage IV Non-Squamous NSCLC,M,NOT HISPANIC OR LATINO,Tecentriq,1.0,...,IV,NOT DETECTED,Adenocarcinoma,NOT DONE,NaN,Current,METASTATIC,2016-08-15T10:07:00Z,2016-08-11,0
15,RAADCT03355,4cacaa6bf00bd99f344f512c44f17717051aa92d,WHITE,82,USA,Advanced or metastatic NSCLC,M,NOT HISPANIC OR LATINO,Tecentriq,0.0,...,IIIA,NaN,ADENOCARCINOMA,NaN,Y,Previous,METASTATIC,2013-12-19T18:35:00Z,2013-12-19,0

In [8]:
# get the number of missing data points per column
missing_values_count = train_bsl.isnull().sum()

# look at the # of missing points in the first ten columns
print(missing_values_count)

PatientID                  0
Study                      0
Race                       0
Age                        0
Country                    0
Indication                 0
Sex                        0
Ethnicity                  0
Treatment                  0
BaselineECOG             306
PDL1IC                   548
PDL1TC                  2568
ALK                     4298
DiseaseStage             420
EGFR                    3838
Histology                741
KRAS                    4160
PriorChemo              3622
SmokeHx                  307
Status                   698
TreatmentStartDate         9
ObservationStartDate       9
Respond                    0
dtype: int64

In [7]:
# how many total missing values do we have?
total_cells = np.product(train_bsl.shape)
total_missing = missing_values_count.sum()

# percent of data that is missing
(total_missing/total_cells) * 100

17.061551266299393

In [0]:
# remove all the rows that contain a missing value
train_bsl.dropna()

In [0]:
 #remove all columns with at least one missing value
columns_with_na_dropped = train_bsl.dropna(axis=1)
columns_with_na_dropped.head()

In [0]:
# just how much data did we lose?
print("Columns in original dataset: %d \n" % train_bsl.shape[1])
print("Columns with na's dropped: %d" % columns_with_na_dropped.shape[1])

In [0]:
# get a small subset of the  dataset
subset_train_bsl = train_bsl.loc[:, 'PatientID':'DiseaseStage'].head()
subset_train_bsl

In [0]:
# replace all NA's with 0
subset_train_bsl.fillna(0)

In [0]:
# replace all NA's the value that comes directly after it in the same column, 
# then replace all the reamining na's with 0
subset_train_bsl.fillna(method = 'bfill', axis=0).fillna("0")

In [9]:
# print the first few rows of the date column
print(train_bsl['TreatmentStartDate'].head())

0    2013-07-11T16:20:00Z
1    2013-07-12T15:50:00Z
2    2013-07-25T14:40:00Z
3    2013-08-01T14:48:00Z
4    2013-08-08T16:10:00Z
Name: TreatmentStartDate, dtype: object

In [14]:
train_bsl['TreatmentStartDate'] = pd.to_datetime(train_bsl['TreatmentStartDate'], infer_datetime_format=True)
print(train_bsl['TreatmentStartDate'])

0      2013-07-11 16:20:00
1      2013-07-12 15:50:00
2      2013-07-25 14:40:00
3      2013-08-01 14:48:00
4      2013-08-08 16:10:00
5      2013-08-14 17:17:00
6      2013-08-23 17:00:00
7      2013-08-30 13:52:00
8      2013-09-05 17:00:00
9      2013-10-03 18:15:00
10     2013-10-08 19:50:00
11     2013-10-04 17:50:00
12     2013-10-18 15:15:00
13     2013-10-21 13:00:00
14     2013-11-07 17:15:00
15     2013-12-19 18:35:00
16     2014-02-28 14:20:00
17     2014-03-06 12:45:00
18     2014-03-14 13:00:00
19     2014-04-15 15:45:00
20     2013-10-17 11:10:00
21     2013-10-21 12:10:00
22     2013-12-03 10:50:00
23     2013-12-26 11:20:00
24     2014-02-12 11:33:00
25     2014-05-05 10:50:00
26     2014-05-07 11:42:00
27     2014-05-02 14:00:00
28     2014-05-20 14:18:00
29     2014-06-03 15:23:00
               ...
5455   2015-02-10 10:15:00
5456   2015-02-12 00:00:00
5457   2015-03-03 00:00:00
5458   2015-03-16 10:50:00
5459   2014-08-11 10:55:00
5460   2014-08-19 12:20:00
5461   2015-03-11 10:42:00
5462   2015-03-16 00:00:00
5463   2015-03-17 00:00:00
5464   2015-03-17 11:50:00
5465   2015-03-02 00:00:00
5466   2014-12-23 00:00:00
5467   2014-12-30 12:30:00
5468   2015-01-20 00:00:00
5469   2015-01-26 13:15:00
5470   2015-02-10 11:17:00
5471   2015-02-24 12:50:00
5472   2014-07-29 00:00:00
5473   2015-02-26 00:00:00
5474   2014-11-24 12:10:00
5475   2015-02-18 12:01:00
5476   2015-02-02 11:50:00
5477   2015-02-13 13:40:00
5478   2014-09-29 00:00:00
5479   2014-11-25 00:00:00
5480   2015-02-10 13:30:00
5481   2015-03-03 12:50:00
5482   2015-03-17 11:55:00
5483   2014-11-24 13:40:00
5484   2014-12-09 13:10:00
Name: TreatmentStartDate, Length: 5485, dtype: datetime64[ns]

In [10]:
# check the data type of our date column
train_bsl['TreatmentStartDate'].dtype

dtype('O')

In [11]:
# create a new column, date_parsed, with the parsed dates
train_bsl['TreatmentStartDate_parsed'] = pd.to_datetime(train_bsl['TreatmentStartDate'], format = "%m/%d/%y")

ValueError: ignored